<!DOCTYPE html>  
<html lang="en">  
<head>  
    <title>古风诗句生成</title> 
    <link rel="stylesheet" type="text/css" href="sort.css"> 
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">  
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>  
</head>  
<body style="background:url(img/bg0.jpg)repeat;background-position: center 0;background-size: 1000px;"> 
	<div class="all">
		<div id="top_bar">
            <div id="top_bar_main">
                <div id="top_left">
                        <ul id="top_left_menu">
                            <li><a href="https://limengyu7.github.io/Generation-of-ancient-verse/%E5%89%8D%E7%AB%AF/frontend.html">首页</a></li>
                            <li><a href="https://limengyu7.github.io/Generation-of-ancient-verse/%E5%89%8D%E7%AB%AF/sort.html">分类</a></li>
                            <li><a href="https://limengyu7.github.io/Generation-of-ancient-verse/%E5%89%8D%E7%AB%AF/poet.html">作者</a></li>
                            <li><a href="https://limengyu7.github.io/Generation-of-ancient-verse/%E5%89%8D%E7%AB%AF/ranking_list.html">排行榜</a></li>
                            <li><a href="https://limengyu7.github.io/Generation-of-ancient-verse/%E5%89%8D%E7%AB%AF/epigraph.html">词牌名</a></li>
                            <li><a href="https://limengyu7.github.io/Generation-of-ancient-verse/%E5%89%8D%E7%AB%AF/tangshi.html">唐诗</a></li>
                            <li><a href="https://limengyu7.github.io/Generation-of-ancient-verse/%E5%89%8D%E7%AB%AF/songci.html">宋词</a></li>
                            <li><a href="https://limengyu7.github.io/Generation-of-ancient-verse/%E5%89%8D%E7%AB%AF/yuanqu.html">元曲</a></li>
                		</ul>
            	    <div style="clear: both"></div>
                </div>
                <div id="top_right">
                	<div id="box">
                        <input id="input0" type="text" name="search" placeholder="请输入关键字">
                        <div id="search">搜索</div> 
                    </div>
                
                </div>
                <div style="clear: both;"></div>
            </div>
            
        </div>
        <div id="nav-top">主页<span class="nav-arrow"></span>>诗词分类</div>

        <div id="main">
            <a href="https://limengyu7.github.io/Generation-of-ancient-verse/%E5%89%8D%E7%AB%AF/sortShanShuiShi.html"><img id="main_img0" src="img/山水诗.png" width="370" height="300" /></a>
            <a href="https://limengyu7.github.io/Generation-of-ancient-verse/%E5%89%8D%E7%AB%AF/sortBianSaiShi.html"><img id="main_img1" src="img/边塞诗.png" width="370" height="300" /></a>
            <img id="main_img2" src="img/思乡诗.png" width="370" height="300" />
        </div>

        <div id="main0">
            <img id="main_img3" src="img/田园诗.png" width="370" height="300" />
            <img id="main_img4" src="img/寒食节.png" width="370" height="300" />
            <img id="main_img5" src="img/端午节.png" width="370" height="300" />
        </div>

        <div id="main1">
            <img id="main_img3" src="img/爱情诗.png" width="370" height="300" />
            <img id="main_img4" src="img/战争诗.png" width="370" height="300" />
            <img id="main_img5" src="img/友情诗.png" width="370" height="300" />
        </div>
    </div>

</body>
</html>
